body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #F7EED6;
    text-align: justify;
    font-family: serif;
    }
p{
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
}
p.bold {text-align: center; font-weight: bold;}
p.bold2 {text-align: center; font-weight: bold; font-size: 150%;}

hr{
border: none;
border-top: 1px solid;
height: 0;
margin: 1.5em auto;
width: 25%;
}
hr.smler { width: 10%; }
h1,
h2{
font-variant: small-caps;
text-align: center;
margin: 3em 0;
}
h3 {font-size: 150%; margin-top: 2em;}
h4 {font-size: 120%;}
h5 {font-size: 110%;}

p.continued,
h2 + p,
hr + p,
p:first-child{
text-indent: 0;
}

cite{
display: block;
font-style: normal;
font-variant: small-caps;
margin-top: 1em;
text-align: right;
}

b{
font-variant: small-caps;
font-weight: normal;
}

.toc{
text-align: center;
}

.toc h2{
margin-bottom: 1em;
}

.toc ol{
display: inline-block;
list-style: none;
margin: auto;
padding-left: 0;
}

ul{
list-style: none;
padding: 0;
}

.header{
font-variant: small-caps;
text-align: center;
}

.valediction{
margin-top: 1em;
text-align: right;
}

.signature{
font-variant: small-caps;
text-align: right;
}

table{
margin: 1em 2em;
}

td{
padding: 0 .5em;
vertical-align: bottom;
}

td.right{
text-align: center;
}

.dedication{
font-variant: small-caps;
text-align: center;
margin: 3em auto;
max-width: 80%;
}

.verse p{
text-indent: 0;
}

.verse p span{
text-indent: -1em;
padding-left: 1em;
}

.verse p span.i1{
text-indent: -1em;
padding-left: 2em;
}

.verse p span.i2{
text-indent: -1em;
padding-left: 3em;
}

.epigraph{
font-style: italic;
margin: 3em auto;
max-width: 40em;
}

p.poem {text-indent: 0%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em; }

p.noindent {text-indent: 0% }

p.center  {text-align: center;
       text-indent: 0em;
       margin-top: 1em;
       margin-bottom: 1em; }

p.asterism {margin-left: 25%;
       text-indent: 0%;
       letter-spacing: 0.12em;
       margin-top: 1em;
       margin-bottom: 1em; }

div.chapter {page-break-before: always; margin-top: 4em;}




div.fig { display:block;
            margin:0 auto;
            text-align:center; }

a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:red}
.pagenum  { /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
        position: absolute;
        left: 92%;
        font-size: smaller;
        text-align: right;
        text-indent: 0px;
      } /* page numbers */
table {margin-left: auto; margin-right: auto; padding: 5px; border: none; }
