

.left_col{

    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;

    padding: 1em;
}
body{
    vertical-align: auto;

    
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: white;
}
#header{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(32,70,232,1) 37%, rgba(0,206,255,1) 100%);
}
h1 {
    /*background: rgb(194,233,70);
    background: radial-gradient(circle, rgba(194,233,70,1) 0%, rgba(232,78,32,1) 60%, rgba(255,224,0,1) 100%);*/
    background: rgb(131,58,180);
    background: linear-gradient(265deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 88%, rgba(252,176,69,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    margin: auto;
    font-size:4em;
    color: yellow;
    
}
#right_col_row1{
    background-color: yellow;
    padding: 1em;
}
.membergrid{
    padding: 1em;
}
.celltitle{
    font-family: cursive;
    font-size: x-large;
}
img {
    width:auto;
    margin: auto;
    aspect-ratio: 815/795;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}
#quote{
    text-align: center;
    margin: 2em;
    font-size: x-large;
}

.sidenav {
    width: auto; /* Set the width of the sidebar */
    vertical-align: center;
    align-content: center;
    
     /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* The navigation menu links */


.sidenav a {
    padding:10px;
    padding-top:20px;
    padding-bottom:20px;
    border: solid;
    border-color: black;

    background-color: rgb(233, 229, 3);
    font-size: 22px;
    color: black;
    display: inline-block;
  }
